<h1 class="text-danger">All Employee</h1>

<h4>Self Association</h4>

<table cellpadding="0" cellspacing="0" border="1px" bgcolor="#eee" >
	<thead>
		<tr>
			<th>SN</th>
			<th>Name</th>
			
		</tr>
	</thead>
	<tbody>
		<% @employees.each do |employee| %>
			<tr>
				<td><strong><%= employee.id %></strong></td>
				<td><%= employee.name %></td>
			</tr>
		<%end%>	
	</tbody>
</table>


<h4>Use Console</h4>

