<h1>Show Books</h1>
<p>
	<strong>Name: </strong> <%= @book.name %>
</p>

<p>
	<strong>Decription: </strong> <%= @book.decription %>
</p>

<p>
	<strong>Price: </strong> <%= @book.price %>
</p>



<div><%= link_to 'Back', author_path(@book.author), style: 'background-color: teal; padding: 6px 8px;border-radius: 6px; border: 1px solid #f00; color: #fff;text-transform:uppercase;text-decoration:none' %></div>